# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.parquet
*.csv

# Logs
*.log
logs/

# Power BI
*.pbix

# Operating systems
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/